@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
.container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
header{
    padding: 46px 130px;
}
.blue{
    width: 41px;
    height: 41px;
    border-radius: 50px;
    background-color: #458FF6;
    padding: 6px 12.5px;
    font-size: 26px;
    color: white;
}
.head{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.text{
    font-size: 24px;
    font-weight: 700;
}
.traf{
    display: flex;
    align-items: center;
    gap: 11px;
}
.ul ul li a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #1F1534;
    opacity: 0.5;
}
.ul ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
.ul ul li a:hover{
    font-weight: 700;
    opacity: 1;
}
.vh{
    display: flex;
    margin: 45px auto;
    justify-content: center;
    gap: 131px;
}
.vhtext{
    width: 440px;
}
.vhtext h2{
    font-size: 45px;
    font-weight: 700;
}
.vhtext p{
    font-size: 19px;
    font-weight: 300;
    color: #7D7987;
    margin-top: 26.32px;
    margin-bottom: 35.09px;
}
.vh button{
    color: rgb(47, 0, 0);
    width: 197.75px;
    height: 49.12px;
    font-weight: 700;
    font-size: 17px;
    padding: 12px 37.4px;
    border: none;
    border-radius: 55px;
    background-color: rgb(231, 255, 191);
}
.vh button:hover{
    background-color: #458FF6;
    color: white;
}
.sertext h2{
    font-size: 35px;
    font-weight: 700;
}
.sertext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 45px auto;
    margin-bottom: 36.4px;
    width: 952px;
    text-align: center;
    gap: 61.8px;
}
.sertext p{
    font-size: 18px;
    font-weight: 300;
    color: #7D7987;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 40px;
    margin: 0 200px;
    justify-content: center;
}
.card{
    width: 380px;
    height: 380px;
    background-color: #E7E7E7;
    padding: 75px 50px;
    border-radius: 20px;
}
.card h3{
    margin: 30px 0 30px 0;
}
.card p{
    font-weight: 300;
    font-size: 16px;
}
.card:hover{
    color: white;
    background-color: #458FF6;
}
.ser button{
    color: #458FF6;
    border: 1px solid #458FF6;
    border-radius: 55px;
    width: 200px;
    height: 56.74px;
    background-color: white;
    font-size: 18px;
    font-weight: 700;
}
.vhtext2{
    width: 440px;
}
.vhtext2 h2{
    font-size: 36px;
    font-weight: 700;
}
.vhtext2 p{
    font-size: 18px;
    font-weight: 300;
    color: #7D7987;
    margin-top: 26.32px;
    margin-bottom: 35.09px;
}
.vhtext2 button{
    color: #458FF6;
    border: 1px solid #458FF6;
    border-radius: 55px;
    width: 200px;
    height: 56.74px;
    background-color: white;
    font-size: 18px;
    font-weight: 700;
}
.mr{
    text-align: center;
    margin: 75px 0;
}
.vh3 h1{
    text-align: center;
    margin: 112px 0;
}
.cards2{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card2{
    width: 380px;
    height: 516px;
    background-color: rgb(250, 251, 252);
}
.card2 h3{
    font-size: 21px;
}
.cardtext2{
    width: 260px;
    height: 204px;
    margin-left: 30px;
    margin-top: 30px;
}
.card2 p{
    font-size: 16px;
    font-weight: 300;
    color: #7D7987;
    margin-top: 10px;
    margin-bottom: 18px;
}
.card2 a{
    text-decoration: none;
    color: #458FF6;
}
.vh3 button{
    color: #458FF6;
    border: 1px solid #458FF6;
    border-radius: 55px;
    width: 200px;
    height: 56.74px;
    background-color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 43.8px 735px 230px;
}
.white{
    width: 41px;
    height: 41px;
    border-radius: 50px;
    color: #458FF6;
    padding: 6px 12.5px;
    font-size: 26px;
    background-color: white;
    display: flex;
    gap: 18.72px;
    justify-content: flex-start;
}
.text2{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}
footer{
    background: linear-gradient(#67C3F3, #5A98F2);
    height: 432px;
    padding: 160px 210px 130px;
}
.traf p:nth-child(2){
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
}
.traftext{
    color: white;
    font-size: 18px;
    font-weight: 300;
    width: 378px;
    margin-top: 17px;
}
.traftext2 h3{ 
    color: white;
}
.fttext{
    display: flex;
    justify-content: space-between;
}
.traf2{
    display: flex;
    flex-direction: column;
}
.traftext2 ul{
    list-style: none;
    margin-top: 20px;
}
.traftext2 ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
}
.traftext2 ul li{
    margin-top: 10px;
}
main button:hover{
    background-color: #458FF6;
    color: white;
}